.headerContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1700px;
  padding: 20px 40px 0;
}

.headerContainer img {
    height: 9rem;
    transition: all 0.3s ease-in-out;
}

.headerContainer img:hover {
    transform: scale(1.1);
}

.score {
  background-color: #17233e;
  border-radius: 20px;
  box-shadow: 0 5px 15px #424242, 0 -5px 15px #424242;
  color: #fff;
  flex-shrink: 0;
  font-size: 24px;
  margin-left: 40px;
  padding: 15px;
}
