.homescreen-logo-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-top: 4rem;
}

img {
  height: 18rem;
}

h2 {
  color: #a1ac82;
  font-size: 60px;
  margin: 0;
  text-shadow: -0.06em 0 0.08em #000, 0.06em 0 0.08em #000, 0 0.06em 0.08em #000,
    0 -0.06em 0.08em #000, -0.06em 0.06em 0.08em #000, 0.06em 0.06em 0.08em #000,
    -0.06em -0.06em 0.08em #000, 0.06em -0.06em 0.08em #000;
}

ul {
  list-style: none;
  display: flex;
  width: 23.5rem;
  justify-content: space-around;
}

ul li button {
  font-size: 20px;
  background-color: #a1ac82;
  box-shadow: 0 5px 10px #000, 0 -5px 10px #000;
  cursor: pointer;
  transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul li button:hover {
  background-color: #a1ac82;
  box-shadow: 0 5px 10px #000, 0 -5px 10px #000;
  transform: scale(1.1) translateY(3px);
}
