.tutorial-elms {
  display: flex;
  position: absolute;
  top: -305%;
  left: 57%;
  width: 37rem;
  height: 19rem;
  z-index: 1;
  align-content: flex-end;
  flex-wrap: wrap;
  justify-content: space-evenly;
  transition: all 0.5s ease-in-out;
}

.tutorial-elms-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 9rem;
  position: relative;
  bottom: 37%;
}

.instructions div {
  background-color: #17233e;
  border-radius: 20px;
  box-shadow: 0 0 8px #424242, 0 0 8px #424242;
  color: #fff;
  padding: 16px;
  text-align: center;
}

.tutorial-elms-img img {
  height: 12rem;
  position: relative;
  top: 3%;
}
